# NoSQL - Not Only SQL

<img src='./images/thatisthequery.jpeg' width=300>

## Lesson Objectives:

By the end of the lesson students will be able to:
- Compare and contrast SQL and NOSQL
- Explain when a NOSQL database is a better choice than SQL database
- Create and edit a NOSQL database using MongoDB

## Activity:

Read the article [When to Use SQL vs. NOSQL](https://www.integrant.com/when-to-use-sql-vs-nosql/) and create a Venn Diagram to compare and contrast the two methods.

![](./images/Two-Set-Venn-Diagram.jpeg)


As you complete the diagram consider the following:

1.  What are some limitations of SQL & NOSQL?
2.  What are some advantages of each method?
3.  Factors to consider when deciding which one to use.
4.  The type of database each is.

#### What's wrong with SQL?

- SQL offers a ton of structure for storing data 
    - That structure requires data to come in, in a certain way (aka your data must have structure) 
    - Structure comes at the cost of speed 
    
    
- SQL structure is very rigid - if you want to change the schema it requires you to change all of your existing data to match the new schema 


- Large data requires distributed computing (many computers working together to accomplish the same task) - Executing distributed joins is a very complex problem in relational databases.

#### What does NoSQL offer?

- Schemaless âˆ’ Number of fields, content and size of the data object can differ from one data object to another.
- You can store virtually any kind of data. 
- Structure of a single object is clear.
- No complex joins.
- To scale up and handle more queries, just add more machines
- You can change the schema of your database on the fly

#### Types of NoSQL Databases

<img style='width: 400px' src='images/nosql-types.png/'>

<b>Document databases</b> pair each key with a complex data structure known as a document. Documents can contain many different key-value pairs, or key-array pairs, or even nested documents.

<img  style='align: center; width:150px' src='images/mongodb.png' />
<img style='align: center;' src='images/couchdb.png' />
<img style='align: center; width: 200px' src='images/documentdb.png' />

<b>Graph stores</b> are used to store information about networks of data, such as social connections. Graph stores include Neo4J and Giraph.

<img  style='align: center; width:150px' src='images/ApacheGiraph.svg' />
<img style='align: center;' src='images/neo4j.png' />

<b>Key-value</b> stores are the simplest NoSQL databases. Every single item in the database is stored as an attribute name (or 'key'), together with its value. Examples of key-value stores are Riak and Berkeley DB.

<b>Wide-column stores</b> such as Cassandra and HBase are optimized for queries over large datasets, and store columns of data together, instead of rows.

## What is MongoDB

MongoDB stores data in flexible, JSON-like documents, meaning fields can vary from document to document and data structure can be changed over time

<b>Data Structure</b>

Single Entry = Document

```json
{ 
  _id: ObjectId(8af37bd7891c), 
  title: 'MongoDB Lab',
  description: 'Introductory lab on how to use MongoDB',
  by: 'Flatiron School',
  topics: ['mongodb', 'database', 'NoSQL', 'JSON']  
}
```

You can embed documents inside documents!

<img src ='images/househouse.gif' />

```json
{ 
  _id: ObjectId(8af37bd78ssc), 
  title: 'Other Lab',
  description: 'Introductory lab on how to use something',
  by: 'Flatiron School',
  topics: ['blah', 'blah', 'blah', 'blah'],
  author: {
            name: 'Marisa Mitchell',
            building: 'Metropolitan Square'
          }
}
```

##### Why would we want to nest objects?

Multiple Documents = Collection

```json
{ 
  _id: ObjectId(8af37bd7891c), 
  title: 'MongoDB Lab',
  description: 'Introductory lab on how to use MongoDB',
  by: 'Flatiron School',
  topics: ['mongodb', 'database', 'NoSQL', 'JSON']  
}, 
{ 
  _id: ObjectId(8af37bd78ssc), 
  title: 'Other Lab',
  description: 'Introductory lab on how to use something',
  by: 'Flatiron School',
  topics: ['blah', 'blah', 'blah', 'blah']  
}
```

#### Working with MongoDB

Assuming you have installed/setup mongo and pip installed pymongo...

In [ ]:
!mongod

In [1]:
import pymongo

In [2]:
myclient = pymongo.MongoClient("mongodb://127.0.0.1:27017/")

# this can be a new one or an existing one
# (if it doesn't exist, it will get create when you write data into it)

In [3]:
myclient.list_database_names()

['admin', 'attendance', 'config', 'local']

## Create a Database

In [4]:
db = myclient['attendance']
myclient.list_database_names()

['admin', 'attendance', 'config', 'local']

In [5]:
db.list_collection_names()

['example_collection']

## Create Collections and Documents

<img src=https://media.geeksforgeeks.org/wp-content/uploads/20200219180521/MongoDB-database-colection.png width=400>

In [6]:
# initialize an empty collection - this where your 'documents' will go
coll = db['example_collection']

In [7]:
#create a dictionary of data to insert into our document
example_data = {'name': 'John Doe', 'address': '123 elm street',
                'age': 28, 'children': ['Jane', 'Joe']}
coll.insert_one(example_data)

In [8]:
_.inserted_id

ObjectId('5f73852fbefddce351037c3b')

Once we have entered data into our collection we now see this collection show up in our list of collections from our database.

In [9]:
db.list_collection_names()

['example_collection']

We can also add multiple documents to our collection using the `.insert_many()` method

In [10]:
example_data_2 = [{'name': 'Marisa', 'address': 'MD'},
                  {'name': 'Ben', 'address': 'DC'},
                  {'name': 'Su'}
                  ]
coll.insert_many(example_data_2)

## Reading Records

In [11]:
#get all the documents in a collection
query = coll.find({})

In [12]:
for document in query:
    print(document)

{'_id': ObjectId('5f73852fbefddce351037c3b'), 'name': 'John Doe', 'address': '123 elm street', 'age': 28, 'children': ['Jane', 'Joe']}
{'_id': ObjectId('5f73852fbefddce351037c3c'), 'name': 'Marisa', 'address': 'MD'}
{'_id': ObjectId('5f73852fbefddce351037c3d'), 'name': 'Ben', 'address': 'DC'}
{'_id': ObjectId('5f73852fbefddce351037c3e'), 'name': 'Su'}

#### What if we just wanted to find the name of each person in each document?

In [13]:
query_1 = coll.find({})

In [14]:
docs = [q for q in query_1]

In [15]:
for document in docs:
    print(document.get('name'))

John Doe
Marisa
Ben
Su

We can also find documents in which a particular condition is met.  Lets select just the documents which contains the name Ben.

In [16]:
query_2 = coll.find({'name': 'Ben'})

In [17]:
for document in query_2:
    print(document)

{'_id': ObjectId('5f73852fbefddce351037c3d'), 'name': 'Ben', 'address': 'DC'}

###  Your turn!

Create code to return:

1.  All the addresses from every document

2.  The names of the children for the person whose age is equal to 28

In [18]:
# your code here

In [19]:
# SOLUTION

for document in docs:
    print(document.get('address'))

query_3 = coll.find({'age':28})

for document in query_3:
    print(document.get('children'))

123 elm street
MD
DC
None
['Jane', 'Joe']

## Updating Records

In [20]:
#updating records is super easy! 
record_to_update = {'name' : 'John Doe'}
update_1 = {'$set': {'age': 29, 'birthday': '2/8/1990'}}

coll.update_many(record_to_update, update_1)

In [21]:
_.matched_count

1

In [22]:
coll.find({'name': 'John Doe'})

In [23]:
[x for x in _]

[{'_id': ObjectId('5f73852fbefddce351037c3b'),
  'name': 'John Doe',
  'address': '123 elm street',
  'age': 29,
  'children': ['Jane', 'Joe'],
  'birthday': '2/8/1990'}]

### Your turn!

Update the records so that:

1. Jon Doe's birthday is set to 2/8/1989 and his age is set to 30.

2.  Set Su's address to VA and her pet as a dog.

In [24]:
#your code here

In [25]:
#SOLUTION
record_to_update = {'name' : 'Jon Doe'}


update_1 = {'$set': {'age': 30, 'birthday': '2/8/1989'}}

coll.update_many(record_to_update, update_1)

In [26]:
# SOLUTION

record_to_update = {'name':'Su'}

update_2 = {'$set': {'address':'VA', 'pet':'dog'}}
coll.update_many(record_to_update, update_2)

In [27]:
query_4 = coll.find({})

In [28]:
docs = [q for q in query_4]

In [29]:
for document in docs:
    print(document)

{'_id': ObjectId('5f73852fbefddce351037c3b'), 'name': 'John Doe', 'address': '123 elm street', 'age': 29, 'children': ['Jane', 'Joe'], 'birthday': '2/8/1990'}
{'_id': ObjectId('5f73852fbefddce351037c3c'), 'name': 'Marisa', 'address': 'MD'}
{'_id': ObjectId('5f73852fbefddce351037c3d'), 'name': 'Ben', 'address': 'DC'}
{'_id': ObjectId('5f73852fbefddce351037c3e'), 'name': 'Su', 'address': 'VA', 'pet': 'dog'}

## Deleting Records

In [31]:
#delete record
coll.delete_one({'name' : 'John Doe'})

In [32]:
#delete all records
coll.delete_many({})

In [33]:
query_5 = coll.find({})

In [34]:
docs = [q for q in query_5]

In [35]:
for document in docs:
    print(document)